
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


body {
    justify-content: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
}

main {
    margin-inline: auto;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 320px;
    border-radius: 10px;
    padding:10px ;
    background-color: white;
    
    
    
}

.card__image {
    width: 100%;
    border-radius: 10px;
    
    
    
}

.card__content {
    padding: 15px; 
    font-family: "Outfit", sans-serif;
    font-size: 15px;
    text-align: center;
}

p {
    color: hsl(216, 15%, 48%);
    font-weight: 400;
}

h2 {
    color:  hsl(218, 44%, 22%);
    font-weight: 700;
}

footer {
    font-size: 12px;
    text-align: center;
    margin-top: 5px;
}